


/*Changing font-family and font-size of all elements using universal selector*/
	*{
	font-family: "Arial", monospace;
	font-size: 15px;
}
/*External Styling to paragraph 3*/
	#external{
	color: yellow
	}

/*Change h1 font using Type Selector*/
	h1 {
		font-size: 2.5rem;
	}

/*Change h2 to uppercase using ID Selector*/
	#things_to_learn {
		text-transform: uppercase;
	}

/*Change background colors using class selectors*/
	
	.languages {
		background-color: darkseagreen;
		list-style-type: order;
	}


/*Change border tool using attribute selectors*/
li[required] {
	border: 1px solid darkblue;
}

/*Change list style type using adjacent sibling selector*/

	h4 + img + ul {
	list-style-type: order;
	}


/*Change dimension of the image using descendant selector*/
#image img {
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

/*Change alignment of the last paragraph using generic selector*/
#last {
	text-align: center;
	color: black;
}

/*letter spacing using child selector*/
	section > ul > li {
	letter-spacing: 5px;
	list-style-type: none;
}


